/*
vim: syntax=groovy
-*- mode: groovy;-*-
*/

profiles {
	aws_batch {
		  //AWSBatch stuff:
		  //aws.region = '' FROM $AWS_REGION
		  aws.client.storageEncryption='AES256'
		  //aws.accessKey = 
		  //aws.secretKey = 
        	  process.queue='first-run-job-queue'
        	  process.executor='awsbatch'
        	  aws.batch.cliPath='/home/ec2-user/miniconda/bin/aws'
	}
	standard {
		docker.enabled = true
	}
}

